{% load static %}


<nav class="flex items-center justify-between px-6 py-2  bg-black border-b border-gray-800">
 
  <div class="flex items-center space-x-3">
    <img src="{% static 'img/bolt.svg' %}" alt="Logo" class="h-8 w-8" />
        <span class="text-white font-medium">Ecomply</span>
  </div>


  {% load static %}

<div class="flex items-center space-x-2">


  <a href="#" 
     class="flex items-center space-x-2 text-gray-300 hover:text-white transition duration-200"
     title="Help">
    <img src="{% static 'img/help.svg' %}" 
         alt="Help" 
         class="w-5 h-5 object-contain">
    <span class="text-sm font-medium">Help</span>
  </a>



 
  <a href="{% url 'logout' %}"
     class="flex items-center justify-center w-9 h-9 rounded-full hover:bg-gray-800 transition duration-200"
     title="Logout">
    <img src="{% static 'img/logout.svg' %}" 
         alt="Logout" 
         class="w-5 h-5 object-contain">
  </a>

  
</div>



</nav>


<div class="flex items-center justify-center space-x-6 px-6  border-b border-gray-800 bg-black text-sm font-medium">
  <a href="{% url 'dashboard' %}" class="text-gray-300 border-b-2 border-transparent hover:border-[#FBCD03] hover:text-white pb-2 transition-all duration-200">
   Home
  </a>
 <a href="{% url 'invoices' %}" class="text-gray-300 border-b-2 border-transparent hover:border-[#FBCD03] hover:text-white pb-2 transition-all duration-200">
    Invoices
  </a> 
  <a href="{% url 'statements' %}" class="text-gray-300 border-b-2 border-transparent hover:border-[#FBCD03] hover:text-white pb-2 transition-all duration-200">
     Statements
  </a>
  <a href="#" class="text-gray-300 border-b-2 border-transparent hover:border-[#FBCD03] hover:text-white pb-2 transition-all duration-200">
    Settings
  </a>
</div>
