{% extends 'base.html' %}
{% load static %}

{% block content %}


  {% include 'components/navbar.html' %}

{% load static %}

<section 
  class="relative flex items-center justify-end p-4 min-h-[50vh] m-4 rounded-xl overflow-hidden bg-center bg-cover" 
  style="background-image: url('{% static 'img/mboga.webp' %}');">


  <div class="absolute inset-0 bg-black/50"></div>

 
  <div class="relative z-10 text-white font-bold text-2xl text-right max-w-lg pr-6">
    <h1 class="mb-4">
      Welcome {{ request.user.username }}
    </h1>
    <p class="text-sm sm:text-base mb-6 font-medium max-w-md mx-auto">
      This prototype allows you to <strong>upload your M-Pesa or bank statement</strong> 
      to automatically generate reports and compliant invoices.  
      In the final version, the system will connect directly to M-Pesa APIs.
    </p>
    <a href="{% url 'upload_statement' %}" 
       class="inline-flex items-center justify-center gap-2 px-6 py-3 mt-2 text-base font-medium 
              text-black bg-white hover:bg-[#FBCD03] rounded-md transition duration-300 shadow-lg">
      <span>Begin Processing</span>
      <img src="{% static 'img/white.svg' %}" alt="Next" class="w-4 h-4 ml-1 invert" />
    </a>
  </div>
</section>



         {% include 'components/Footer.html' %}

{% endblock %}
